@import "../../vars/_pages.scss";
@import "../../vars/_colours.scss";
@import "../../vars/_fontSizes.scss";

.project {
    @include pages($background-colour);
}

.project_container {
    @include pageContainer;
    .project_title {
        @include pageTitle;
    }
    .project_body {
        display: block;
        width: 100%;
        margin: auto;
        padding: 20px;
        .project_bodyTitle {
            display: block;
            width: 100%;
            h2 {
                color: $darker-font;
                font-size: $lg-font-size;
                text-align: center;
            }
        }
        .project_main {
            display: block;
            width: 100%;
            .project_mainLower {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
            }
        }
    }
}