$light-font: #e6f1ff;
$darker-font: #8892b0;
$background-colour: #efefef;
$special-colour: #34d1bf;
$warning-colour: #d1345b;
$dark-menu: #070707;
$menu-colour: #3454d1;
$shadow-colour: rgba(2,12,27,0.7);