@import "../../vars/_colours.scss";
@import "../../vars/_fontSizes.scss";

.button {
    width: 100px;
    color: $light-font;
    font-size: $md-font-size;
    font-weight: 600;
    border: 1px solid $menu-colour;
    border-radius: 4px;
    padding: 3px;
    box-shadow: 0 10px 30px -10px $shadow-colour;
    &:hover {
        background-color: $dark-menu;
        transition-duration: 0.3s;
        cursor: pointer;
    }
}

.cancel {
    background-color: $darker-font;
    transition-duration: 0.3s;
}

.submit {
    background-color: $special-colour;
    transition-duration: 0.3s;
}

.warning {
    background-color: $warning-colour;
    color: $light-font;
    transition-duration: 0.3s;
    &:hover {
        color: $menu-colour;
        transition-duration: 0.3s;
    }
}