@import "../../vars/_pages.scss";
@import "../../vars/_colours.scss";
@import "../../vars/_fontSizes.scss";

.createIteration {
    @include pages($background-colour);
}

.createIteration_container {
    @include pageContainer;
    .createIteration_title {
        @include pageTitle;
    }
    .createIteration_returnLink {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 50px auto 30px;
    }
    .createIteration_body {
        display: block;
        width: 80%;
        max-width: 800px;
        background-color: $menu-colour;
        margin: auto;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 10px 30px -10px $shadow-colour;
        .createIteration_inputLineFirst {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            label {
                color: $light-font;
                font-size: $md-font-size;
            }
            input {
                width: 620px;
            }
            textarea {
                width: 620px !important;
                resize: vertical;
            }
        }
        .createIteration_inputLineSecond {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            label {
                color: $light-font;
                font-size: $md-font-size;
            }
            input {
                width: 140px;
            }
            button {
                width: 60px;
                background-color: $darker-font;
                color: $background-colour;
                font-weight: 600;
                border: 1px solid $background-colour;
                padding: 2px 0;
            }
        }
        .createIteration_inputLineThird {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }
}